.header__main,
.header__secondary {
  margin: 0;
  padding: 0;
}

.header__main {
  padding-top: 3rem;
}

.header__secondary {
  font-size: 1rem;
}

.header__brief__contact {
  padding: 1rem 0;
}

.header__brief__contact__row {
  text-align: center;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .header__main,
  .header__secondary {
    line-height: 0.8;
    font-weight: 100;
  }

  .header__main {
    font-size: 3rem;
  }

  .header__brief__contact {
    display: table;
    margin: auto;
  }

  .header__brief__contact__row {
    display: table-cell;
    padding: 0 1rem;
  }
}
