html {
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  background: black;
}

html,
input,
select {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  color: white;
  font-weight: 200;
}

body {
  margin: 0;
}

.main-background {
  background: url('/images/site-background.png') no-repeat center center fixed;
  background-size: cover;
}
