@font-face {
  font-family: 'Goudy';
  src: url('/fonts/Goudy\ Old\ Style\ Regular.ttf') format('truetype');
}

html {
}

html,
input,
select {
  font-family: 'Goudy', Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  background: black;
  font-size: 22px;
  color: white;
  font-weight: 200;
}

body {
  margin: 0;
}

.center {
  text-align: center;
}

.main-background {
  background: url('/images/Site_background-landscape.jpg') no-repeat center center fixed;
  background-size: cover;
}
