.studio-portraits__gallery {
  // margin-top: 5rem;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-evenly;
  // align-items: center;
  // align-content: space-evenly;
}

.studio-portraits__gallery__photo-container {
  margin: 0;
}

.studio-portraits__gallery__photo {
  // max-height: 210px;
  width: auto;
  max-width: 100%;
  height: auto;
}

.studio-portraits__gallery-image {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.25rem;
  vertical-align: middle;
  height: auto;
  transition: all 0.3s ease;
  cursor: pointer;
}
