.main-content-section {
  background: linear-gradient(#555, #191919);
  max-width: 600px;
  padding: 2rem 1rem;
  margin: auto;
  color: white;
}

@media (min-width: 768px) {
  .main-content-section {
    padding: 1rem;
    margin: 3rem auto;
  }
}
