.the-experience__sub-header {
  text-align: center;
  font-size: 24px;
  margin: 0;
  font-weight: 400;
}

.the-experience__copy {
  margin-top: 0;
}

.the-experience__present {
  max-width: 368px;
  display: block;
  margin: auto;
  width: 100%;
}
