.contact-us__form {
  padding: 1rem;
  background-color: #292929;
  margin: 1rem;
}

.contact-us__form__error {
  color: red;
}

.contact-us__form__column {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

@media(min-width: 768px) {
  .contact-us__form__column {
    width: 49%;
    &:last-child {
      margin-left: 2%;
    }
  }
}