.contact-us__socials__anchor {
  transition: all 0.3s ease;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
}

.contact-us__socials__anchor:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .contact-us__socials__column {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }
}
