html {
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  background-color: black;
}

.menu-button {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
  width: 1.5rem;
  height: 1.5rem;
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.menu {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  transition: all 0.3s ease;
  background-color: #f0f0f0;
  overflow: hidden;
}

.menu.expanded,
.menu-items {
  width: 280px;
}

.menu-item {
  display: block;
  color: #0F0F0F;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-item:hover {
  background-color: white;
}

.menu-item .fa {
  width: 2.5rem;
}

.cats-eye-logo {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

@media (min-width: 1350px) {
  .content {
    max-width: 1300px;
    margin: auto;
    padding: 1rem;
  }
}
